<!DOCTYPE html>
<html lang="en">
<head>
<title>Chi tiết sản phẩm</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/single_responsive.css">
<link rel="stylesheet" type="text/css" href="/css/cssUsers/cart.css">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>

</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header trans_300">

		<!-- Top Navigation -->

		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">Miễn phí đơn hàng trên 300.000 VNĐ và nhiều ưu đãi</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">

								<!-- Currency / Language / My Account -->
								<li class="account">
									<a id="username"href="#">
										Tài khoản {{users.userName}}
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="account_selection">

										{{!-- After Login --}}
										<li id="changePassword"hidden><a><i class="fa fa-sign-in" aria-hidden="true"></i>Thông tin tài khoản</a></li>
										<li id="purchase"hidden><a href="/users/purchase"><i class="fa fa-sign-in" aria-hidden="true"></i>Lịch sử mua hàng</a></li>
										{{!-- Before Login --}}

										<li id="login" hidden><a  href="/auth/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Đăng nhập</a></li>
										
										<li>
											<a id="logout"href="#"><i class="fa fa-user-plus" aria-hidden="true">
											</i>Đăng xuất</a>
    									{{!-- <button type="submit" class="btn btn-primary">Đăng xuất</button> --}}
										</li>

										<script>
											document.getElementById("logout").onclick = function(){
    												sessionStorage.removeItem("username");

													var logoutForm = document.forms['delete-product-form'];

													logoutForm.action = '/auth/logout?_method=POST';
													logoutForm.submit();
											}
										</script>
										<script>
											document.getElementById("login").hidden =false;
											if(
												sessionStorage.getItem("username")
											){
												document.getElementById("username").innerHTML ="Xin chào  " + 
													sessionStorage.getItem("username");
												document.getElementById("changePassword").hidden =false;
												document.getElementById("purchase").hidden =false;
												document.getElementById("login").hidden =true;

											}

											</script>
											
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a href="/">NghiaTai<span>Shop</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								<li><a href="/">Trang chủ</a></li>
								<li><a href="/contact">Liên hệ</a></li>
								<li>
									<div class="dropdown">
									<a class="" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
										Quản lý
									</a>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<li><a class="dropdown-item" href="/products/storedProducts">Sản phẩm</a></li>
										<li><a class="dropdown-item" href="/users/storedUsers">Tài khoản</a></li>
										<li><a class="dropdown-item" href="#">Thống kê</a></li>
									</ul>
									</div>
								</li>
							</ul>
							<ul class="navbar_user">

								<li class="checkout">
									<a href="/users/cart">
										<i id="checkout_items" class="fa fa-shopping-cart" aria-hidden="true"></i>
										<span id="checkout_items" class="checkout_items"></span>
									</a>
								</li>
							</ul>

						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>

	
	<div class="container single_product_container">
<div class="mt-4">
  <h3 class="free_delivery d-flex flex-row align-items-center justify-content-center"> 
    Chi tiết sản phẩm {{products.tenSanPham}}
  </h3>

    <a href="/products/{{products._id}}/createDetail">Thêm chi tiết sản phẩm {{products.tenSanPham}}</a>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">STT</th>
            <th scope="col">Size</th>
            <th scope="col">Số lượng còn</th>
            <th scope="col">Giá tiền bán ra</th>
            <th scope="col" colspan="2">Tình trạng</th>
            </tr>
        </thead>
        <tbody>
            {{#each productsdetails}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>
                <h5 class="size"id="size{{this.giaTienBanRa}}" name="size{{this.giaTienBanRa}}" >{{this.size}}</h5>
            </td>
            <td>
                <h5 class="soLuongCon"id="soLuongCon{{this.giaTienBanRa}}" name="size{{this.giaTienBanRa}}" >{{this.soLuongCon}}</h5>
                </td>
            <td>
            <h5 class="giaTienBanRa"id="giaTienBanRa{{this.giaTienBanRa}}" name="giaTienBanRa{{this.giaTienBanRa}}" >{{this.giaTienBanRa}}</h5>
            </td>
			<td>
            <h5 class="tinhTrang"id="tinhTrang{{this.giaTienBanRa}}" name="giaTienBanRa{{this.giaTienBanRa}}" >{{this.tinhTrang}}</h5>
            </td>
            <td>
                <a href="/products/{{this._id}}/editDetail" class="btnUpdate btn-link">Sửa</a>
                <a id="btn-select"href="" class="btnDelete btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#exampleModal">Xóa</a>

            </td>
            </tr>
            <input type="text" class="form-control" value="{{this.giaTienBanRa}}" id="giaTienBanRaSP{{this.giaTienBanRa}}" name="giaTienBanRa{{this.giaTienBanRa}}" hidden>

            <script>
                //size
                    var sizeHienThi{{this.giaTienBanRa}} = "size"+{{this.giaTienBanRa}}
                    document.getElementById(sizeHienThi{{this.giaTienBanRa}}).innerHTML = ({{this.size}}).toLocaleString() + "  g";     
                //soluong
                    var soLuongConHienThi{{this.giaTienBanRa}} = "soLuongCon"+{{this.giaTienBanRa}}
                    document.getElementById(soLuongConHienThi{{this.giaTienBanRa}}).innerHTML = ({{this.soLuongCon}}).toLocaleString();   
                //giatien
            var giaTienBanRaHienThi{{this.giaTienBanRa}} = "giaTienBanRa"+{{this.giaTienBanRa}}
            document.getElementById(giaTienBanRaHienThi{{this.giaTienBanRa}}).innerHTML = ({{this.giaTienBanRa}}).toLocaleString() + "  VND";     
                </script>

            {{/each}}

        </tbody>

    </table>
</div>
<!--Confirm Delete Button -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc muốn xóa sản phẩm ?</p>
      </div>
      <div class="modal-footer">
        <a id="count-down">Wait for Available</a>
        <button id="btn-delete" type="button" class="btnDelete1 btn-link">Xác nhận xóa</button>
        <button type="button" class="btnCancel btn-link" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!--Form Xóa-->
    <form name="delete-product-form" method="POST">

<!--Disable Delete Button trong 10s-->
<script>
      var btnselect = document.getElementById('btn-select');
      var countdown = document.getElementById('count-down');
       btnselect.onclick =  function() {
            document.getElementById("btn-delete").disabled = true;
            setTimeout(function() {
                document.getElementById("btn-delete").disabled = false;
            }, 10000);
            document.getElementById("count-down").hidden = false;
            setTimeout(function() {
                document.getElementById("count-down").hidden = true;
            }, 10000);
        }
        
</script>


<!--Event xóa-->
<script>
    document.addEventListener('DOMContentLoaded',function(){
        var id;
        var deleteForm = document.forms['delete-product-form'];
        var btnDelete = document.getElementById('btn-delete');
        $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        id = button.data('id')
        });
        btnDelete.onclick = function(){
            deleteForm.action = '/products/'+id + '/deleteDetail?_method=DELETE';

            deleteForm.submit();
        }
    })
</script>
    
  </div>


{{!-- Tong tien ne --}}
    







	<!-- Benefit -->

	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>Miễn Phí Giao Hàng</h6>
							<p>Cho đơn hàng 300k trên</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>Thanh toán</h6>
							<p>Thanh toán khi nhận hàng hoặc thanh toán online</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>Hoàn tiền</h6>
							<p>Nếu sản phẩm bị lỗi do shop hoặc do vận chuyển</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>Từ T2 - CN</h6>
							<p>8:00 AM - 10:00 PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	

	

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="#">Blog</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">©2022 Copyright NghiaTaiShop </div>
					</div>
				</div>
			</div>
		</div>
	</footer>


	</div>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/js/single_custom.js"></script>
</body>